# TO MAKE CHANGES USE "meta" DIRECTORY (see packgram docs).

# Coverage
.coverage
coverage.xml

# Eclipse
.settings/
.project
.pydevproject

# Nose
nosetests.xml

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Project
tmp/

box
packgram

# Python
__pycache__/
*.py[cod]

# Setup
build/
develop-eggs/
dist/
eggs/
sdist/
*.egg-info/
*.egg

# Sphinx
docs/_build

# Virtualenv
venv/
venvs/
virtualenv/
virtualenvs/
