#{{ caution }}

#Coverage
.coverage
coverage.xml

#Distutils
/build/
/develop-eggs/
/dist/
/eggs/
/sdist/
/*.egg-info/
/*.egg

#Nosetests
nosetests.xml

#Pip
pip-log.txt
pip-delete-this-directory.txt

#Project
/tmp/

#PyDev
/.settings/
/.project
/.pydevproject

#Python
__pycache__/
*.py[cod]

#Sphinx
/docs/doctrees
/docs/html

#Virtualenv
/env/
/envs/
/venv/
/venvs/
/virtualenv/
/virtualenvs/